<div id="navbar">
    <div class="first-element">
        <%= link_to root_path do %>
            <i class="fab fa-airbnb"></i>
        <% end %>
    </div>
    <div class="first-group">
        <h2><%= link_to "Hébergements", "#" %></h2>
        <h2><%= link_to "Experiences", "#" %></h2>
        <h2><%= link_to "Experiences en ligne", "#" %></h2>
    </div>
    <div class="second-group">
        <h2><%= link_to "Devenez hote", "#" %></h2>
        <%= link_to "#" do %>
            <i class="fas fa-globe"></i>
        <% end %>
        <div class="group">
            <%= link_to "#" do %>
                <i class="fas fa-bars"></i>
                <i class="fas fa-user-circle"></i>
            <% end %>
        </div>
    </div>
</div>