<!DOCTYPE html>
<html>
  <head>
    <title>Blog666g</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f4215bdb65.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <%= render "shared/navbar" %>
  
    <%= yield %>
  </body>
</html>
